@model ReservationsTableListViewModel

<div id="table-list" class="d-flex flex-wrap-reverse flex-row justify-content-center mx-2 mt-4 mb-4" style="column-gap: 1rem; row-gap: 1.5rem;">
    <div id="table-list-start" class="align-self-end text-left list-group overflow-auto" style="width: 16rem; max-height: 34rem">
        @foreach (var table in Model.Tables)
        {
            string OccupiedDetails = table.Available ? "available" : "occupied";
            string TableNumber = table.Table.Id.ToString();
            string Seats = table.Table.Seats.ToString();

            if (table.Available)
            {
                <button type="button" name="@TableNumber" class="list-group-item list-group-item-action">@TableNumber. @OccupiedDetails table: seats @Seats</button>
            }
            else
            {
                <button type="button" name="@TableNumber" class="list-group-item list-group-item-action" disabled>@TableNumber. @OccupiedDetails table: seats @Seats</button>
            }
        }
    </div>

    <div class="align-self-center">
        <img class="img-fluid" src="../assets/layout_numbered.png" style="width: 16rem;" alt="layout" />
    </div>
</div>

<script>
    $("#table-list button").click(loadTableDetail);
    function loadTableDetail() {

        var data = {
            DateTime: new Date(Number(@Model.Reservation.Date.Year), Number(@Model.Reservation.Date.Month) - 1, Number(@Model.Reservation.Date.Day), Number(@Model.Reservation.Date.Hour) + 1, Number(@Model.Reservation.Date.Minute), 0),
            Number: $(this).attr('name')
        };

        $.when($.ajax({
            url: '@Url.Action("LoadTablesDetails", "Reservations")',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "HTML",
            data: JSON.stringify(data),
            dataType: "html",
            success: function (response) {
                $("#table-panel").html(response);
            },
            failure: function (response) {
                console.log("AJAX Failure " + response);
            },
            error: function (response) {
                console.log("AJAX Error " + response);
            }
        })).then(scrollToDetail);
    }

    function scrollToDetail() {
        var margin = convertRemToPixels(1);
        window.scroll(0, getYPos(document.getElementById("table-detail-start")) - getHeaderHeight() - margin);
    }

</script>